name: CI-CD pipeline

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-latest

        steps: 
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                   node-version: '20'

            - name: Install dependencies
              run: npm install
            
            - name: Build project
              run:  npm run build 
            
            - name: Build Docker image
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/travel_buddy:v1 .

            - name: Login to Docker Hub
              uses: docker/login-action@v4
              with:
                     username: ${{ secrets.DOCKER_USERNAME }}
                     password: ${{ secrets.DOCKER_PASSWORD }}
            
            - name: Push Docker image
              run: docker push ${{ secrets.DOCKER_USERNAME }}/travel_buddy:v1

            - name: Deploy to dockerhub
              run:  echo "Successfully deployed to Docker Hub"

            
            

    
    
            